<% include ./partials/_head %>
    <% include ./partials/_header %>

    <script type="text/javascript">
    $('.action-accept-btn').openFAB();
    </script>

  <% Object.keys(orders).forEach(function(order_id) { %>
    <% order = orders[order_id]; %>
    <div class="container row">
      <div class="order-header col s12">
        <i class="small material-icons">error</i> Order #<%= order.order_id %> </br>
      </div>
    <% order = orders[order_id]; %>

    items:
    <% order.items.forEach(function(item) { %>
      id: <%= item.id %></br>
      item_name: <%= item.foodName %></br>
      dessert_item_id(Cakes, Donuts, etc): <%= item.recipe_id %></br>
      description: <%= '' %></br>
      quantity: <%= item.quantity %></br>
      <div class="buttons">
    <% }); %>

    <form action="/confirm-order" method="POST">
      <input id="timeBox" type="text" name="timeBox" placeholder="This Order Will Take..">
    </form>
  <!-- buttons -->
        <a class="action-accept-btn waves-effect waves-light btn onclick='' ">Accept</a>
        <a class="waves-effect waves-light btn onclick='' ">Decline</a>
      </div>
    </div>
    <hr>
<% }); %>


 <% include ./partials/_footer %>


  </body>
</html>
