<% include ./partials/_head %>
    <% include ./partials/_header %>

  <% Object.keys(orders).forEach(function(order_id) { %>
    <% order = orders[order_id]; %>
    <div class="container row col s12">
    <div class= "order-box">

      <div class="order-header col s12">
        <i class="small material-icons">error</i> Order #<%= order.order_id %> </br>
      </div>

    <% order = orders[order_id]; %>

    items:
    <% order.items.forEach(function(item) { %>
      id: <%= item.id %></br>
      item_name: <%= item.foodName %></br>
      dessert_item_id(Cakes, Donuts, etc): <%= item.recipe_id %></br>
      description: <%= '' %></br>
      quantity: <%= item.quantity %></br>
      <hr>

    <% }); %>
       <i class="small material-icons">schedule</i><form action="/confirm-order" method="POST">
      <input id="timeBox" type="text" name="timeBox" placeholder="Est time" style="width:100px">
    </form>
      <div class = "buttons col s8">
  <!-- buttons -->
        <a class="action-accept-btn waves-effect waves-light btn">Accept</a>
        <a class="waves-effect waves-light btn onclick='' ">Decline</a>
  <!-- order completed button -->
        <a class="action-complete-btn waves-effect waves-light btn">Order Completed <i class="small material-icons">done</i></a>
        </div>

    </div>
    </div>
<% }); %>


 <% include ./partials/_footer %>


  </body>
</html>

